body{
    height: 100%;
    overflow: hidden;
}
header{
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: #f33030;
    position: static;
    width: 100%;
    z-index: 2;
}
.players {
    gap: 20px;
  }
  .player > button {
    width: 127px;
    height: 210px;
    margin-top: 30px;
    margin-bottom: 8px;
    border-radius: 5px;
    transform: scale(0.5);
  }
  .red {
    background: url(http://127.0.0.1:5500/website/assets/images/charac-2.svg);
  }
  .purple {
    background: url(http://127.0.0.1:5500/website/assets/images/charac-1.svg);
  }
  .black {
    background: url(http://127.0.0.1:5500/website/assets/images/charac-3.svg);
  }
  .levels > button {
    width: 251px;
    height: 52px;
    font-size: 24px;
    border-radius: 100px;
    color: var(--button-text);
    background-color: var(--button-bg);
  }
  .wrap{
    flex-wrap: wrap;
  }
  .levels{
    margin-bottom: 10vh;
    gap: 20px;
  }